.name{
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 6px #9a9898;
}

.menu{
    li{
        color: #fff !important;
    }
}

.top-bar, .top-bar ul {
    background-color: $nav-background !important;
}